<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header>
        <nav>
            <a id="logo" href="#"><img src="img/logo_img_color2.png" alt="logo"></a>
            <ul id="nav_menu">
                <li class="nav_li"><a class="nav_a" href="#"><img class="nav_img" src="img/user-free-icon-font.png" alt="icon"> Login</a></li>
                <li class="nav_li"><a class="nav_a" href="#"><img class="nav_img" src="img/user-free-icon-font (1).png" alt=""> Sign Up</a></li>
                <li class="nav_li"><a class="nav_a" href="#"><img class="nav_img" src="img/interrogation-free-icon-font.png" alt=""> Service</a></li>
            </ul>
            <button type="button" id="menu_btn"class="on"><img id="menubar" src="img/menubar.png" alt="bar"></button>
            <div id="dropdown">
                <ul>
                    <li class="drop_li"><a href="#" class="dropdown_item">Login</a></li>
                    <li class="drop_li"><a href="#" class="dropdown_item">Sign UP</a></li>
                    <li class="drop_li"><a href="#" class="dropdown_item">Service</a></li>
                </ul>
            </div>    
        </nav>
    </header>
</body>
</html>