<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="review-card.css">
    <link rel="stylesheet" href="main.css">
    <script src="js/bootstrap.bundle.js"></script>
    <title>Main</title>
    
</head>
<body>
    <div id="wrap">
        <header>임 시 헤 더</header>
        
        <div id="content">
            <!-- 이벤트 광고 -->
            <div class="event_Ad">
                <!-- <img src="img/AD(2).png" alt=""> -->
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="img/공사중.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="img/공사중 2.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="img/공사중3.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <!-- 추천수강 -->
            <div class="best_class">
                <h2><a href="#">BEST CLASS</a></h2>
                <!-- <a class="to_many" href="#">read more >></a> -->
                <div id="class_card-div">
                    <div class="class_card card">
                        <div class="class_img">
                            <img src="img/aa.png" alt="no">
                        </div>
                        <div class="class_info">
                            <div class="info_cName">
                                <h3 class="card_name">힘세고 강한 아침 강좌</h3>
                            </div>
                            <div class="info_ex">
                                <p>#한주에3번 #헬스 #굿모닝</p>
                            </div>
                            <div class="info_price">
                                <p>월 10만원</p>
                            </div>
                            <div class="info_score">
                                <p>별이 삼쩜오개</p>
                            </div>
                            <div class="info_aName">
                                <p>건강튼튼헬스</p>
                            </div>
                            <div class="info_grade">
                                <p>(실버인것)</p>
                            </div>
                        </div>    
                    </div>
                
                    <div class="class_card card">
                        <div class="class_img">
                            <img src="img/aa.png" alt="no">
                        </div>
                        <div class="class_info">
                            <div class="info_cName">
                                <h3 class="card_name">힘세고 강한 아침 강좌</h3>
                            </div>
                            <div class="info_ex">
                                <p>#한주에3번 #헬스 #굿모닝</p>
                            </div>
                            <div class="info_price">
                                <p>월 10만원</p>
                            </div>
                            <div class="info_score">
                                <p>별이 삼쩜오개</p>
                            </div>
                            <div class="info_aName">
                                <p>건강튼튼헬스</p>
                            </div>
                            <div class="info_grade">
                                <p>(실버인것)</p>
                            </div>
                        </div>    
                    </div>
                    <div class="class_card card">
                        <div class="class_img">
                            <img src="img/aa.png" alt="no">
                        </div>
                        <div class="class_info">
                            <div class="info_cName">
                                <h3 class="card_name">힘세고 강한 아침 강좌</h3>
                            </div>
                            <div class="info_ex">
                                <p>#한주에3번 #헬스 #굿모닝</p>
                            </div>
                            <div class="info_price">
                                <p>월 10만원</p>
                            </div>
                            <div class="info_score">
                                <p>별이 삼쩜오개</p>
                            </div>
                            <div class="info_aName">
                                <p>건강튼튼헬스</p>
                            </div>
                            <div class="info_grade">
                                <p>(실버인것)</p>
                            </div>
                        </div>    
                    </div>
                    <div class="class_card card">
                        <div class="class_img">
                            <img src="img/aa.png" alt="no">
                        </div>
                        <div class="class_info">
                            <div class="info_cName">
                                <h3 class="card_name">힘세고 강한 아침 강좌</h3>
                            </div>
                            <div class="info_ex">
                                <p>#한주에3번 #헬스 #굿모닝</p>
                            </div>
                            <div class="info_price">
                                <p>월 10만원</p>
                            </div>
                            <div class="info_score">
                                <p>별이 삼쩜오개</p>
                            </div>
                            <div class="info_aName">
                                <p>건강튼튼헬스</p>
                            </div>
                            <div class="info_grade">
                                <p>(실버인것)</p>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <!-- 수강후기 -->
            <div class="after_class">
                <h2><a href="#">BEST? TODAY? REVIEW</a></h2>
                <div class="card_inner1">
                    <div class="card__content">
                        <div class="card_header">
                            <div class ="card_header_profile">
                                <div class ="card_header_profile_info_name">힘들어 죽겠음</div>
                                <div class ="card_header_profile_info_date">2022-02-05</div>
                            </div>
                            <div class="card_header_rating">
                                <span class = "ration_count">별이 3개</span>
                            </div>
                        </div>
                        <div class="card_academy">
                            <div class="card_academy_info_name"><a href="#"">힘세고 강한 아침 강좌</a></div>
                        </div>
                        <div class="card_content">아침운동이 사람잡아요</div>
                    </div>

                    <div class="card__content">
                        <div class="card_header">
                            <div class ="card_header_profile">
                                <div class ="card_header_profile_info_name">힘들어 죽겠음</div>
                                <div class ="card_header_profile_info_date">2022-02-05</div>
                            </div>
                            <div class="card_header_rating">
                                <span class = "ration_count">별이 3개</span>
                            </div>
                        </div>
                        <div class="card_academy">
                            <div class="card_academy_info_name"><a href="#"">힘세고 강한 아침 강좌</a></div>
                        </div>
                        <div class="card_content">아침운동이 사람잡아요</div>
                    </div>

                    <div class="card__content">
                        <div class="card_header">
                            <div class ="card_header_profile">
                                <div class ="card_header_profile_info_name">힘들어 죽겠음</div>
                                <div class ="card_header_profile_info_date">2022-02-05</div>
                            </div>
                            <div class="card_header_rating">
                                <span class = "ration_count">별이 3개</span>
                            </div>
                        </div>
                        <div class="card_academy">
                            <div class="card_academy_info_name"><a href="#"">힘세고 강한 아침 강좌</a></div>
                        </div>
                        <div class="card_content">아침운동이 사람잡아요</div>
                    </div>
                </div> 

                <div class="card_inner2">
                    <div class="card__content">
                        <div class="card_header">
                            <div class ="card_header_profile">
                                <div class ="card_header_profile_info_name">힘들어 죽겠음</div>
                                <div class ="card_header_profile_info_date">2022-02-05</div>
                            </div>
                            <div class="card_header_rating">
                                <span class = "ration_count">별이 3개</span>
                            </div>
                        </div>
                        <div class="card_academy">
                            <div class="card_academy_info_name"><a href="#"">힘세고 강한 아침 강좌</a></div>
                        </div>
                        <div class="card_content">아침운동이 사람잡아요</div>
                    </div>

                    <div class="card__content">
                        <div class="card_header">
                            <div class ="card_header_profile">
                                <div class ="card_header_profile_info_name">힘들어 죽겠음</div>
                                <div class ="card_header_profile_info_date">2022-02-05</div>
                            </div>
                            <div class="card_header_rating">
                                <span class = "ration_count">별이 3개</span>
                            </div>
                        </div>
                        <div class="card_academy">
                            <div class="card_academy_info_name"><a href="#"">힘세고 강한 아침 강좌</a></div>
                        </div>
                        <div class="card_content">아침운동이 사람잡아요</div>
                    </div>

                    <div class="card__content">
                        <div class="card_header">
                            <div class ="card_header_profile">
                                <div class ="card_header_profile_info_name">힘들어 죽겠음</div>
                                <div class ="card_header_profile_info_date">2022-02-05</div>
                            </div>
                            <div class="card_header_rating">
                                <span class = "ration_count">별이 3개</span>
                            </div>
                        </div>
                        <div class="card_academy">
                            <div class="card_academy_info_name"><a href="#"">힘세고 강한 아침 강좌</a></div>
                        </div>
                        <div class="card_content">아침운동이 사람잡아요</div>
                    </div>
                </div>
                <!-- <a class="to_many" href="#">read more >></a> -->
            </div>
            <!-- 공지사항 -->
            <div class="main_notice">
                <h2><a href="#">NOTICE</a></h2>
                <!-- <a class="to_many" href="#">read more >></a> -->
                <table>
                    <tr th:each="alertboard : ${alertboardList}">
                        <td>
                            <a th:href="@{'/alertboard/post/' + ${alertboard.abindex}}">
                                <span th:text="${alertboard.title}"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>

                    </tr>
                </table>
            </div>
            <!-- 자유게시판 -->
            <div class="free_board">
                <h2><a href="#">FREE BOARD</a></h2>
                <!-- <a class="to_many" href="#">read more >></a> -->
                <tbody>
                    <!-- Contents -->
                    <!-- 반복문으로 자유게시판 글을 반복해서 보여줌-->
                        <tr th:each="freeboard : ${freeboardList}">
                            <td>
                                <a th:href="@{'/freeboard/post/' + ${freeboard.fbindex}}">
                                    <span th:text="${freeboard.title}"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <footer>임 시 푸 터</footer>
    </div>

  

</body>
</html>