body {
	text-align:center;	
	margin-top: 130px;
}


#css_tabs input : nth-of-type(1), #css_tabs input : nth-of-type(1) ~ div:nth-of-type(1), 
#css_tabs input : nth-of-type(2), #css_tabs input : nth-of-type(2) ~ div:nth-of-type(2){
	display:none  
}
#css_tabs input:nth-of-type(1):checked ~ div:nth-of-type(1), 
#css_tabs input:nth-of-type(2):checked ~ div:nth-of-type(2){
	display:none
}


/*기업회원 회원가입 스타일 적용*/
#input1  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input2  {
	width: 350px; 
	height:30px;	
	margin-bottom: 3%;
}
#input3  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input4  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input5  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input6  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input7  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input8  {
	width: 350px; 
	height: 40px;
	margin-top: 5%; 
	font-size: 15px
}

/*개인회원 로그인 스타일 적용*/
#input9  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input10  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input11  {
	width: 350px; 
	height:30px;	
	margin-bottom: 3%;
}
#input12  {
	width: 350px; 
	height:30px;	
	margin-bottom: 3%;
}
#input13  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input14  {
	width: 350px; 
	height:30px;
	margin-bottom: 3%;
}
#input15  {
	width: 350px; 
	height: 40px;
	margin-top: 5%; 
	font-size: 15px;
}


/* 기본 라벨 스타일 지정 */
#css_tabs > label {
    display: inline-block; 
    font-size: 15px;  
    padding: 10px;  
    text-align: center; 
    width: 15%;
    line-height: 20px; 
    font-weight: bold;  
    border-radius: 5px;  
    background: #eee; 
    color: #777;  
    border: 1px solid #ccc; 
    border-width: 1px 1px 0 
}

#css_tabs > label:hover {
    cursor: pointer  
}

#css_tabs label[for=tab1] {
    margin-left: 1.5em  
}


/* 선택, 커서 올린 라벨 스타일 지정 */
#css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #css_tabs > label[for=tab1]:hover {
	background: white; 
	color:#000000  
}

#css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #css_tabs > label[for=tab2]:hover {
	background: white;  
	color:#000000 
}


/* 회원가입 칸 <div> 스타일 지정 */
#css_tabs .tab1_content, #css_tabs .tab2_content {
	padding: 55px; 
	border: 2px solid #ddd; 
	max-width: 800px;
	margin: 0 auto; 
	height:100% 
}