<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="TSET.css">
</head>
<body>
    <div id="wrap">
    <header>
        <nav>
            <a id="logo" href="#"><img src="img/logo_img_color2.png" alt="logo"></a>
            <ul id="nav_menu">
                <li class="nav_li"><a class="nav_a" href="#"><img class="nav_img" src="img/login-color3.png" alt="icon"> Login</a></li>
                <li class="nav_li"><a class="nav_a" href="#"><img class="nav_img" src="img/signup-color3.png" alt=""> Sign Up</a></li>
                <li class="nav_li"><a class="nav_a" href="#"><img class="nav_img" src="img/service-color3.png" alt=""> Service</a></li>
            </ul>
            <button type="button" id="menu_btn"><img id="menubar" src="img/menubar.png" alt="bar"></button>
            <div id="dropdown">
                <ul>
                    <li class="drop_li"><a href="#" class="dropdown_item">Login</a></li>
                    <li class="drop_li"><a href="#" class="dropdown_item">Sign UP</a></li>
                    <li class="drop_li"><a href="#" class="dropdown_item">Service</a></li>
                </ul>
            </div>    
        </nav>
    </header>

    <div class="sidebar_header">

    </div>

    <div class="sidebar">
        <div class="my_top">
            <img src="img/mypage.png" alt="mypage">
            <h3 class="my_top_font">
                MY PAGE
            </h3>
        </div>
        <div id="my_info_container">
            <ul class="my_info">
                <br>
                <il class="my_info_list my_info_title">MY INFO
                    <ul class="my_info_1 my_info_list">
                        <li><a href="#">내 정보 수정</a></li>
                        <li><a href="#">문의 내역</a></li>                         
                    </ul>
                </il>
                <br>
                <il class="my_info_list my_info_title">MY CLASS
                    <ul class="my_info_2 my_info_list">
                        <li><a href="#">수강 내역</a></li>
                        <li><a href="#">수강 후기</a></li>
                        <li><a href="#">수강 알림</a></li>                          
                        <li><a href="#">관심있는 과정</a></li>
                    </ul>
                </il>                    
            </ul>
            <div class="service_link">
                <ul class="service_link_ul">
                    <li><a class="service" href="#">Service</a></li>
                    <li><a class="service" href="#">Home</a></li>
                    <li><a class="service" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container"></div>
    
    <div class="top_btn">
        <a href="#"><img src="img/top.png" alt="top"></a>
    </div>
    
    <footer>
        <div class="footer_logo">
            <img src="img/logo_img_color2.png" alt="logo">
        </div>
        <p>카피라이트 어쩌구저쩌구
            
        </p>
    </footer>
</div>
</body>
</html>